.boxHeader {
  display: flex;
  padding: $padding-header;
  color: $colore-test0;
  .testo {
    padding: $padding-header;
    h1 {
      font-size: $size-titolo;
    }

    p {
      font-weight: 700;
    }
  }

  .img {
    /*ombra per le immagini! drop-shadow, mettici un hover*/
    border-radius: $radius-bordi;
    box-shadow: $shadow-base;
    transition: ease-out 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
}

@media screen and (max-width: 900px) {
  .boxHeader {
    display: flex;
    flex-direction: column-reverse;
  }
}
