/*fonts*/
$font-family: "Roboto", sans-serif;

/*spaziatura tra elementi*/
$padding-header: 30px;

/*sizing testi*/
$size-titolo: 3em;

/*bottoni*/
$radius-bordi: 15px;
$width-bottoni: 200px;
$height-bottoni: 75px;

/*colori*/
$colore-sfondo: #cfcfcf;
$colore-test0: rgb(73, 69, 69);
$colore-hover: red;
$shadow-base: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
