// COLORI
$colore-nav: rgba(192, 192, 192, 0.5);
$colore-pulsanti-nav: rgba(98, 98, 98, 0.3);
$font-color-nav: #cecece;
$shadow-base: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);

// FONT
$font-weight-testo: 900;
$font: "Roboto", sans-serif;
$font-size-titolo: 3em;
