// font
$font-pagina: "Roboto", sans-serif;
$font-weight-titoli: 900;
//colori
$colore-sfondo-main: white;
$colore-section: #f5f5f5;
$colore-sfondo: linear-gradient(to right, #6727e9, #4427e9);
$text-shadow-white: 1px 1px rgb(161, 154, 154);
$text-shadow-black: 1px 1px rgb(66, 64, 64);
$colore-font-footer: white;
