<body class="bg-dark-subtle">
  <app-quarto-componente></app-quarto-componente>
  <div class="container text-center bg-dark-subtle shadow">
    <h1>Titolone</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem
      provident amet quibusdam dolore sit delectus assumenda eveniet eius
      laboriosam minus quia quos doloribus aperiam voluptate, officia excepturi.
      Quis, deleniti modi!
    </p>
    <app-primo-componente></app-primo-componente>
    <app-secondo-componente></app-secondo-componente>
    <app-terzo-componente></app-terzo-componente>
  </div>
  <footer class="bg-dark">
    <app-quinto-componente></app-quinto-componente>
  </footer>
</body>
