body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  color: white;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
    308deg,
    rgba(21, 63, 103, 1) 2%,
    rgba(38, 75, 152, 1) 39%,
    rgba(23, 48, 101, 1) 72%
  );
}

/*box della calcolatrice*/
.container_calc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 420px;
  height: 460px;
  border: 8px solid rgb(148, 146, 146);
  border-radius: 20px;
  -webkit-box-shadow: -1px 1px 2px 3px rgba(5, 5, 5, 0.41);
  box-shadow: -1px 1px 2px 3px rgba(129, 123, 123, 0.41);
  background-color: rgba(219, 209, 209, 0.3);
}

/*griglia per i pulsanti*/
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

/* pulsanti tastiera*/
.grid-item {
  width: 80px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: orange;
  -webkit-box-shadow: -1px 1px 2px 3px rgba(0, 0, 0, 0.41);
  box-shadow: -1px 1px 2px 3px rgba(0, 0, 0, 0.41);
}

/*effettino del bottoncino*/
.grid-item:hover {
  box-shadow: 0 2px 4px #bdbdbd;
  transform: scaleY(1.2) scaleX(1.2);
  background: radial-gradient(
    circle,
    rgba(201, 152, 27, 1) 0%,
    rgba(187, 124, 30, 1) 29%,
    rgba(218, 74, 22, 1) 100%
  );
}

/* display della calc*/
.display_calc {
  width: 320px;
  font-size: 3rem;
  font-family: inherit;
  height: 70px;
  border: none;
  background-color: #252525;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 3px solid rgb(143, 135, 135);
  -webkit-box-shadow: -1px 1px 2px 3px rgba(0, 0, 0, 0.41);
  box-shadow: -1px 1px 2px 3px rgba(0, 0, 0, 0.41);
  caret-color: transparent;
  outline: none;
}
