/* Your styles here */
/*body*/

body {
  color: #393d41;
  font-weight: 1.2rem;
  font-family: "Open Sans", sans-serif;
  min-width: 450px;
}

p {
  font-family: "Open Sans", sans-serif;
  color: #393d41;
  font-weight: 1.2rem;
  line-height: 1.65;
  margin-top: 20px;
  margin-bottom: 20px;
}
h1,
h2 {
  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
}

/*LOGO INIZIALE*/
#headerlogo {
  background-color: black;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 300px;
}

/*Header*/

#Header {
  height: 400px;
  margin-bottom: 30px;
  border: 1px solid black;
  line-height: 1.65;
  text-align: center;
  background-image: url(images/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  margin-top: 30px;
  background-color: #f04c2f;

  width: 120px;
  height: 40px;
  border-radius: 8px;
  border: none;
}

button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

h1 {
  margin-top: 45px;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 1000;
}

/*Main*/
.testi {
  text-align: center;
}

.testi h2 {
  margin-top: 20px;
}

/*immaginetta tonda*/
#imground {
  border-radius: 60%;
}

#imground:hover {
  transform: rotate(90deg);
}

/*sezione main col quadrato rossiccio*/
#quadratoRosso {
  background-color: #e22d0e;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3,
h4 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

#quadratoRosso p {
  color: white;
}

#quadratoRosso blockquote {
  margin-top: 30px;
  color: white;
  line-height: 1.2;
}

/*box con immaginette*/
.box {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: 1px solid #dee1e3;
}

.imgbox {
  max-width: 100%;
  max-height: 50%;
}

.box p {
  padding-left: 20px;
  padding-right: 20px;
}

/*footer con cubotto azzuro*/
#cuboFooter {
  background-color: #25a2c3;
  height: 400px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#cuboFooter ul li,
#cuboFooter a,
#cuboFooter p {
  color: white;
  line-height: 1.65;
}

#cuboFooter ul li {
  list-style-type: none;
}

#cuboFooter h4 {
  margin-bottom: 30px;
}

#cuboFooter p {
  border-top: 1px solid white;
  padding-top: 20px;
}
