/* IMPOSTAZIONI GENERALI */

body {
  background-image: url(assets/img/sfondo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  margin-top: 8px;
  font-family: "Poppins", sans-serif;
}

#container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}
/* HEADER */
#containerHead {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  height: 350px;
  width: 450px;
  background: linear-gradient(
    308deg,
    rgba(34, 156, 159, 1) 10%,
    rgba(38, 129, 152, 1) 71%
  );
  text-align: center;
  border: 1px solid black;
}

#headtitleh1 {
  color: white;
  margin-bottom: 20px;
  margin-top: 20px;
}

.headtitle a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: white;
}

#cuboHead {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cuboHead img {
  width: 350px;
  margin-top: 40px;
  margin-bottom: 40px;
}
/* MAIN */
#containerMain {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 450px;
  height: 100%;
  border: 1px solid black;
}
/* ELEMENTI NEL MAIN - ARTICLE */

#sectionFirst,
#sectionSecond,
#sectionThird,
#sectionFourth,
#sectionFifth,
#sectionSixth {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#sectionFirst,
#sectionSecond a {
  text-decoration: none;
  color: blueviolet;
  font-weight: 700;
}

#sectionFirst h2 {
  font-size: 200%;
  font-weight: 800;
  margin-top: 30px;
  color: black;
}

#sectionFirst p {
  margin-top: 20px;
  color: grey;
  opacity: 0.8;
}

#sectionSecond p {
  margin-top: 20px;
}

#sectionSecond h5 {
  margin-top: 20px;
  margin-bottom: 10px;
}

#sectionSecond ul {
  margin: 0 auto;
}

#sectionSecond p {
  margin-bottom: 20px;
}
/* TABELLE */

#sectionThird p {
  margin-top: 20px;
}

#sectionThird table {
  margin-top: 20px;
  border: 1px solid black;
  width: 400px;
  height: 200px;
}

caption {
  font-weight: 700;
  font-style: italic;
}

thead tr {
  background-color: rgba(35, 42, 109, 0.5);
}

tbody tr:nth-child(even) {
  background-color: rgba(127, 127, 127, 0.5);
}

#sectionFourth {
  margin-top: 20px;
}

#sectionFourth a {
  text-decoration: none;
  color: blueviolet;
  font-weight: 700;
}

#videoYoutube {
  max-width: 400px;
  margin-top: 10px;
  border-radius: 30px;
  max-height: 200px;
}
/* FORM */
#sectionFifth {
  margin-top: 20px;
  background-color: rgba(127, 127, 127, 0.5);
  max-width: 400px;
  max-height: 300px;
  text-align: center;
}

#sectionFifth,
#sectionSixth h5 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 20px;
  padding-top: 15px;
}

#sectionFifth p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.1rem;
}

#sectionFifth input {
  margin-bottom: 15px;
}
/* ELEMENTI NELL' ASIDE */
#sectionSixth h5 {
  text-align: center;
}

.box-articoli {
  background-color: rgba(127, 127, 127, 0.5);
  max-width: 400px;
  max-height: 140px;
  margin-top: 20px;
}

/* FOOTER */ ;
