body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

#containerProduct {
  max-width: 25vw;
  margin-top: 30px;
  background-color: beige;
  display: flex;
  flex-direction: column;
  border-radius: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

#containerProduct img {
  max-width: 25vw;
  object-fit: cover;
}

.testo {
  color: rgb(136, 92, 63);
  padding: 30px;
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.caratteristiche {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
}

.btn-add {
  background-color: rgb(206, 191, 107);
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  text-decoration: none;
  color: rgb(136, 92, 63);
  width: 30%;
  padding: 12px 15px;
  border-radius: 30px;
  text-align: center;
  margin-bottom: 20px;
}
